.saludo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.CardP{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 100px;
}
.CardItem{
    background-color: rgb(44, 185, 143);;
    color: black;
    width: 450px;
    height: 450px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px;

}

.ItemImg {
    width: 200px;
    height: 200px;
    border: 2px solid black;
}