.saludo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.CardP{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}